@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;600;700&display=swap');


:root{
    --padding-container: 100px 0;
    --color-title: #001A49;

}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px ;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    max-height: 800px;
    min-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagP/fon23.jpeg);
    background-size: cover;
    clip-path: polygon(0 0,100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* AQUI EMPIEZA EDICIÓN DEL NAV */

.nav{
    --padding-container: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav_items{
    list-style: none;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav_BOG{
    color: black;
    text-decoration: none;
}


.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_img{
    display: block;
    width: 30px;
}

.nav_close{
    display: var(--show, none);
}

/* AQUI EMPIEZA EDICIÓN DE LAS IMAGENES DEL INICIO */

.anout_icons1{
    object-fit: contain;
    width: 220px;
    height: 220px;
    border-radius: 50px;
}

/* AQUI EMPIEZA EDICIÓN DEL HERO_CONTAINER */

.hero_container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: rgba(0, 140, 255, 0.742);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 50px;
}

.cta1{
    display: inline-block;
    background-color:black;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 50px;
}



/*-------------- EDICIÓN DEL ABOUT ---------------*/

.about{
    text-align: center;

}

.subtitle{
    columns: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
}

.about_main{
    padding: 50px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin: auto;
}

.about_icon{
    width: 40px;
}

/*-------------- FIN EDICIÓN DEL ABOUT ---------------*/




/*--------------INICIO DE ESTILO SECCION FOOTER------------------*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(./g/background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/*--------------FIN DE ESTILO SECCION FOOTER------------------*/





/* EMPEZAMOS A EDITAR ESTILO DE TESTIMONY */

/* Estilos normales */
.testimony{
    background-color: #199f30;
    background-image: radial-gradient(circle at center center, #25605c, #e5e5f7), repeating-radial-gradient(circle at center center, #25605c, #25605c, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    overflow: hidden;
    color: #fff;
}

.testimony_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony_body{
    display:grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.testimony_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony_img{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony_texts{
    max-width: 700px;
}

.testimony_course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony_arrow{
    width: 90%;
    cursor: pointer;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .testimony_container{
    grid-template-columns: 1fr; /* hacemos que el contenedor ocupe todo el ancho en dispositivos móviles */
  }

  .testimony_body{
    grid-template-columns: 1fr; /* hacemos que el cuerpo de testimonio ocupe todo el ancho en dispositivos móviles */
    justify-items: center;
  }

  .testimony_img{
    width: 200px;
    height: 200px; /* reducimos el tamaño de la imagen en dispositivos móviles */
    margin-bottom: 1em;
  }

  .testimony_texts{
    max-width: 100%;
    text-align: center; /* centramos el texto en dispositivos móviles */
  }

  .testimony_course{
    margin-top: 1em; /* añadimos un margen superior para separar el curso del texto en dispositivos móviles */
  }
}

  


/* EMPEZAMOS A EDITAR ESTILO DEl FOOTER  */

.contacto {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}

.logos{
    font-size: 2em;
    
}

.logos span{
    color: #199f30;

}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 3em;
}

.contact-wrapper > * {
    padding: 1em;
    border-radius: 3em;
}

.contact-form {
    background: #222222;
    color: #fff;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
    
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
    cursor: pointer;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
    color: #fff;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    
    .contacto{
        padding: 0 4em;
        box-sizing: border-box;
    }
  
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;  
    }
    .contact-wrapper > * {
        padding: 2em;   
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}







































